*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Linear-gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));/*(active input border)*/
  --Red: hsl(0, 100%, 66%); /*(input errors)*/
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  font-size: 10px; /*body copy: 18px*/
}

.space-grotesk {
  font-family: "Space Grotesk", serif;
  font-weight: 500;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
